@import '../variable/variables';
@import '../mixin/mixins';

#contact-area-part{
    margin: 110px 0;
    .left{
        h3{
            margin: 0;
            @include f($ff, 32px, 600, 1, #0a303a);
            margin-bottom: 5px;
        }
        h2{
            @include f($ff, 40px, 900, 1.2, #0a303a);
            letter-spacing: -.5px;
            margin-bottom: 0;
            margin-top: 0px;
            font-style: normal;
            text-transform: inherit;
            text-align: left;
            span{
                font-size: 40px;
                letter-spacing: -.5px;
                color: #f04336;
                margin-left: -12px;
            }
        }
        p{
            @include f($ffh, 14px, 400, 28px, #676666);
            margin: 30px 0;
            letter-spacing: .4px;
        }
        form{
            .form-grp{
                margin-bottom: 25px;
                label{
                    @include f($ffh, 14px, 500, 1.2, #0a303a);
                    margin-bottom: 10px;
                    opacity: 1;
                    span{
                        color: #f04336;
                    }
                }
                input{
                    width: 100%;
                    background: #f5f2eb;
                    border: none;
                    font-size: 14px;
                    padding: 15px 20px;
                    border-radius: 5px;
                    display: block;
                    font-weight: 400;
                    text-align: left;
                }
                textarea{
                    min-height: 125px;
                    max-height: 125px;
                    width: 100%;
                    background: #f5f2eb;
                    border: none;
                    font-size: 14px;
                    padding: 15px 20px;
                    border-radius: 5px;
                    display: block;
                    font-weight: 400;
                }
            }
            .checkbox-grp{
                display: flex;
                align-items: flex-start;
                margin-bottom: 35px;
                input{
                    width: auto;
                    margin-top: 3px;
                    margin-right: 9px;
                    background: #f5f2eb;
                    border: none;
                    font-size: 14px;
                    padding: 15px 20px;
                    border-radius: 5px;
                    display: block;
                    font-weight: 400;
                }
                label{
                    @include f($ffh, 14px, 500, 1.5, #676666);
                    opacity: .8;
                    margin-bottom: 0;
                    user-select: none;

                }
            }
            .btn{
                @include f($ff, 20px, 800, 1, #fff);
                padding: 15px 34px;
                user-select: none;
                background: #f04336 none repeat scroll 0 0;
                border: medium none;
                border-radius: 3px;
                display: inline-flex;
                align-items: center;
                letter-spacing: 0;
                margin-bottom: 0;
                text-align: center;
                text-transform: capitalize;
                touch-action: manipulation;
                transition: all 0.3s ease 0s;
                vertical-align: middle;
                white-space: nowrap;
                position: relative;
                z-index: 1;
                overflow: hidden;
                &:hover::after{
                    top: -40%;
                }
                &::after{
                    content: "";
                    position: absolute;
                    transition-duration: 800ms;
                    width: 200%;
                    height: 200%;
                    top: 110%;
                    left: 50%;
                    background: #0a303a;
                    transform: translateX(-50%);
                    border-radius: 50%;
                    z-index: -1;
                }
            }
        }
    }
    .right{
        background: #f5f2eb;
        border-radius: 12px;
        padding: 38px 55px 45px;
        .img{
            margin-bottom: 55px;
        }
        .contact-info-list{
            ul{
                padding-left: 0;
                li{
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    .icon{
                        width: 45px;
                        height: 45px;
                        text-align: center;
                        line-height: 45px;
                        background: #fff;
                        flex: 0 0 45px;
                        border-radius: 50%;
                        margin-right: 15px;
                        font-size: 16px;
                        color: #fff;
                        box-shadow: 0px 2px 14.88px 1.12px;
                        i{
                            color: #f04336
                        }
                    }
                    p{
                        @include f($ffh, 14px, 400, 2, #696969);
                        margin-top: 10px;
                    }
                }
            }
        }
        .icons{
            a{
                margin-right: 10px;
                i{
                    width: 41px;
                    height: 41px;
                    line-height: 41px;
                    font-size: 12px;
                    border-radius: 50%;
                    background: #385594;
                    color: #fff;
                    text-align: center;
                }
                .tr{
                    background: #4eabee;
                }
                .in{
                    background: #1976d2;
                }
            }
        }
    }
}